= render "layouts/header"

.user__navi
  %ul.user__navi__menu
    %li.user__navi__manu__dashbord ダッシュボード
    %li.user__navi__manu__mailbox 受信トレイ
    %li.user__navi__manu__listing リスティング
    %li.user__navi__manu__travel 旅行
    %li.user__navi__manu__profile プロフィール
    %li.user__navi__manu__account アカウント
    %li.user__navi__manu__promo 旅行クーポンGET!

.user__main
  = link_to "新しいリスティングを作成する", new_room_path, class: "user__main__create"
  .user__main__rooms
    - if @rooms.present?
      .user__main__rooms__index リスティング一覧
      - @rooms.each do |room|
        .user__room__container
          .user__room__container__room
            = link_to room_path(room) do
              %img{ src: room.image, class: "user__room__container__room__image" }
            %ul.user__room__container__room__info
              %li.user__room__container__room__info__price $66
              %li.user__room__container__room__info__type
                = room.room_type
              .user__room__container__room__info__title
                = room.title
              .user__room__container__room__info__review
          .user__room__container__booking
            - if room.bookings.present?
              - room.bookings.each do |booking|
                - if booking.check_out_date >= Date.today
                  .user__room__container__booking__status < 予約あり >
                  %ul.room__booking__details
                    %li.room__booking__details__user
                      宿泊者：#{ booking.user.name }さん
                    %li.room__booking__details__stay_days
                      宿泊日数：#{ booking.stay_days }日
                    %li.room__booking__details__check_in_date
                      チェックイン：#{ booking.check_in_date }
                    %li.room__booking__details__check_out_date
                      チェックアウト：#{ booking.check_out_date }
                - else
                  .user__room__container__booking__status < チェックアウト済み >
                  %ul.room__booking__details
                    %li.room__booking__details__user
                      宿泊者：#{ booking.user.name }さん
                    %li.room__booking__details__stay_days
                      宿泊日数：#{ booking.stay_days }日
                    %li.room__booking__details__check_in_date
                      チェックイン：#{ booking.check_in_date }
                    %li.room__booking__details__check_out_date
                      チェックアウト：#{ booking.check_out_date }
            - else
              .user__room__container__booking__nothing
                予約はありません。
    - else
      .user__main__rooms__nothing
        まだリスティングしていません。

  .user__main__bookings
    - if @bookings.present?
      .user__main__bookings__index 予約一覧
      - @bookings.each do |booking|
        .user__booking__container
          .user__booking__container__room
            = link_to room_path(booking.room) do
              %img{ src: booking.room.image, class: "user__booking__container__room__image" }
            .user__booking__container__room__title
              = booking.room.title
          %ul.user__booking__container__details
            %li.user__booking__container__details__stay_days
              宿泊日数：#{ booking.stay_days }
            %li.user__booking__container__details__check_in_date
              チェックイン：#{ booking.check_in_date }
            %li.user__booking__container__details__check_out_date
              チェックアウト：#{ booking.check_out_date }
          - if booking.check_out_date <= Date.today
            .user__booking__container__details__review
              = form_for(@review, url: room_booking_reviews_path(booking.room_id, booking)) do |f|
                .form-group
                  .row
                    .col-md-12
                      = f.text_field :body, class: "form-control", placeholder: "レビューを書きましょう！", size: "30", required: true
                      = f.hidden_field :booking_id, value: booking.id
                .form-group
                  = f.submit "投稿する", class: "btn btn-green"
    - else
      .user__main__bookings__nothing
        予約はありません。

%footer
  = render "layouts/footer"
