= render "layouts/header"


.user__navi
  %ul.user__navi__menu
    %li.user__navi__manu__dashbord ダッシュボード
    %li.user__navi__manu__mailbox 受信トレイ
    %li.user__navi__manu__listing リスティング
    %li.user__navi__manu__travel 旅行
    %li.user__navi__manu__profile プロフィール
    %li.user__navi__manu__account アカウント
    %li.user__navi__manu__promo 旅行クーポンGET!


.user__main
  = link_to "新しいリスティングを作成する", new_room_path, class: "user__main__create"
  .user__main__rooms
    .user__main__rooms__index リスティング一覧
    - @rooms.each do |room|
      .user__main__rooms__container
        = link_to room_path(room) do
          %img{ src: room.image, class: "user__main__rooms__container__image" }
        .user__main__rooms__container__info
          %ul.user__main__rooms__container__info__details
            %li.user__main__rooms__container__info__details__price $66
            %li.user__main__rooms__container__info__details__type
              = room.room_type
          .user__main__rooms__container__info__title
            = room.title
          .user__main__rooms__container__info__review
  .user__main__bookings
    .user__main__bookings__index 予約一覧
    - current_user.bookings.each do |booking|
      .user__main__bookings__container
        %img{ src: booking.room.image, class: "user__main__bookings__container__image" }
        .user__main__bookings__container__title
          = booking.room.title
        .user__main__bookings__container__check_in_date
          = booking.check_in_date
        .user__main__bookings__container__check_out_date
          = booking.check_out_date


%footer
  = render "layouts/footer"
