.row
  .col-md-4.col-md-offset-4
    .devise__alert
      = alert

= form_for(@user, url: new_user_session_path(@user)) do |f|
  .form-group
    .row
      .col-md-4.col-md-offset-4
        = f.label :email
        = f.email_field :email, class: "form-control", autofocus: true
  .form-group
    .row
      .col-md-4.col-md-offset-4
        = f.label :password
        = f.password_field :password, class: "form-control", autocomplete: "off"
  .form-group
    .row
      .col-md-4.col-md-offset-4
        = f.submit "サインイン", class: "btn btn-pink"
  %br/
  .row
    .col-md-4.col-md-offset-4
      = link_to "サインアップ" , new_user_registration_path
      = link_to "トップページへ" , root_path
