- if user_signed_in?
  - if current_user.id != @room.user_id
    .room__booking
      %ul.room__booking__upper
        %li.room__booking__upper__price $82
        %li.room__booking__upper__night /泊
      .room__booking__lower.row
        = form_for([@room, @booking]) do |f|
          = f.hidden_field :room_id, value: params[:id]
          %ul.room__booking__lower__form.form-group.col-md-6
            %li{ style:"position: relative" }
              = f.label "チェックイン"
              = f.text_field :check_in_date, class: "datepicker datepicker1 form-control"
          %ul.room__booking__lower__form.form-group.col-md-6
            %li{ style:"position: relative" }
              = f.label "チェックアウト"
              = f.text_field :check_out_date, class: "datepicker datepicker2 form-control"
          .room__booking__lower__btn.col-md-8.col-md-offset-2
            = f.submit "予約する", class: "booking__btn"
            %p まだ請求は発生しません。
  - else
    .room__booking
      %ul.room__booking__upper
        %li.room__booking__upper__price $82
        %li.room__booking__upper__night /泊
      .room__booking__lower.row
        .room__booking__lower__btn.col-md-8.col-md-offset-2
          %br/
          %h4 *自分がリスティングした部屋には予約できません。
- else
  .room__booking
    %ul.room__booking__upper
      %li.room__booking__upper__price $82
      %li.room__booking__upper__night /泊
    .room__booking__lower.row
      .room__booking__lower__btn.col-md-8.col-md-offset-2
        %br/
        %h4 *予約するには会員登録が必要です。
