%header
  = render "layouts/header"

%section
  %h1.text__header--main
    Airbnbで一生忘れられない旅をしよう。
  %h1.text__header--sub
    世界中の宿泊先と体験を予約。

#top__room__search
  = form_for(@room, url: search_rooms_path, method: :get) do |f|
    %ul.search__form__location
      %li.search__form__location__label
        = f.label :prefecture, value: "場所", id: "location__label"
      %li.search__form__location__input
        = f.text_field :prefecture, id: "location__input", placeholder: "行き先、都市、住所", name: "keyword"
    %ul.search__form__dates
      .search__form__dates__label
        = f.label :prefecture, value: "日時", id: "dates__label"
      .search__form__dates__input{ style:"position: relative" }
        = f.text_field :bookings, id: "checkin__dates__input", class: "datetime-picker", placeholder: "チェックイン"
        = f.text_field :bookings, id: "checkout__dates__input", class: "datetime-picker", placeholder: "チェックアウト"
    %ul.search__form__persons
      %li.search__form__persons__label ゲスト
      %li.search__form__persons__select 宿泊1人
    %ul.search__form__submit
      = f.submit "探す", class: "search__form__submit__btn"

#top__rooms.top__rooms
  %h3.top__rooms__index 宿泊先
  - @rooms.each do |room|
    = link_to room_path(room), class: "top__rooms__container" do
      %img{ src: room.image, class: "top__rooms__container__image" }
      .top__rooms__info
        %ul.top__rooms__info__details
          %li.top__rooms__info__details__price $66
          %li.top__rooms__info__details__room-type
            = room.room_type
        .top__rooms__info__title
          = room.title
        .top__rooms__info__review

%footer
  = render "layouts/footer"
