%header
  = render "layouts/header"

%section
  %h1.text__header--main
    Airbnbで一生忘れられない旅をしよう。
  %h1.text__header--sub
    世界中の宿泊先と体験を予約。

#top__room__search
  = render "top_search"

#top__rooms.top__rooms
  %h3.top__rooms__index 宿泊先
  .ul.bxslider
    - @rooms.each do |room|
      .li
        = link_to room_path(room), class: "top__rooms__container" do
          %img{ src: room.image, class: "top__rooms__container__image" }
          .top__rooms__info
            %ul.top__rooms__info__details
              %li.top__rooms__info__details__price $66
              %li.top__rooms__info__details__room-type
                = room.room_type
            .top__rooms__info__title
              = room.title

.top__reviews
  .top__reviews__title 注目のレビュー
  - if @reviews.present?
    .top__reviews__container
      - @reviews.each do |review|
        - if review.user.super_guest
          %ul.top__review.row
            %li.col-md-2
              %i.fa.fa-user.fa-4x{ aria: { hidden: true } }
              %i.fa.fa-star-o.fa-2x{ aria: { hidden: true } }
              .top__review__user
                #{ review.user.name }さん
            %li.top__review__body.col-md-8
              = review.body
              %br/
              %br/
              = review.booking.room.city
              %br/
              = review.created_at.strftime("%Y年%-m月")

%footer
  = render "layouts/footer"
