= render "layouts/header"

.search__navi
  %ul.search__navi__input
    - if @check_in_date.present? && @check_out_date.present?
      %li.search__navi__input__check_in_date
        = @check_in_date
      %li.search__navi__input__arrow
        %i.fa.fa-arrow-right{ aria: { hidden: true } }
      %li.search__navi__input__check_out_date
        = @check_out_date

  %ul.search__navi__wrapper
    %ul.search__navi__wrapper__person
      %li 宿泊1人
      %li.template__icon
        %i.fa.fa-angle-down{ aria: { hidden: true } }
    %ul.search__navi__wrapper__type
      %li 部屋タイプ
      %li.template__icon
        %i.fa.fa-angle-down{ aria: { hidden: true } }
    %ul.search__navi__wrapper__price
      %li 価格帯
      %li.template__icon
        %i.fa.fa-angle-down{ aria: { hidden: true } }
    %ul.search__navi__wrapper__booking
      %li 今すぐ予約
      %li.template__icon
        %i.fa.fa-angle-down{ aria: { hidden: true } }
    %ul.search__navi__wrapper__filter
      %li フィルター
      %li.template__icon
        %i.fa.fa-angle-down{ aria: { hidden: true } }

.search__result
  .search__result__container
    .search__result__container__index{ data: { location: @keyword } }
      日付を入力すると合計金額が表示されます（税・サービス料別）。
      - if @rooms.empty?
        %p #{ @keyword }周辺の宿泊施設は見つかりませんでした。
      -else
        %p #{ @keyword }周辺の宿泊施設が #{ @rooms.length }件 見つかりました。
    .search__result__container__rooms
    - @rooms.each do |room|
      = link_to room_path(room), class: "search__room" do
        %img{ src: room.image, class: "search__room__image" }
        %ul.search__room__details
          %li.search__room__price $66
          %li.search__room__title
            = room.title
        .search__room__room_type
          = room.room_type

  .search__result__map
    #map-canvas
